@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.cdnfonts.com/css/bellefair');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: 'Poppins';
	-webkit-tap-highlight-color: transparent;
}

html{
	scroll-behavior: smooth;
	/*cursor: default;*/
  }


.nav_link {
	color: white;
	font-family: 'Bellefair';
	transition: all 1s;
}

.nav_link:hover {
	color:  #f7aa1b;
}

.btn {
	margin-left: auto;
	padding-top: 9px;
	padding-bottom: 9px;
	padding-left: 25px;
	padding-right: 25px;
	background-color: #6e65f4;
	border: none;
	/*border-radius: 50px;*/
	cursor: pointer;
	transition: all 0.3s ease 0s;
  }
  
  .btn:hover {
	background-color: #6e65f499;
  }

body {
	background-color: #021915;
}

.height {
	height: calc(100vh - 68px);
}

html {
	overflow-x: hidden;
	scroll-snap-type: y mandatory;
  }

section {
	scroll-snap-align: start;
}



.notonscreen {
	opacity: 0;
	filter: blur(5px);
	transform: translateX(-100%);
	transition: all 1s;
}



.nnav {
	transform: translateY(-100%) translateX(0);
}

.up {
	transform: translateY(100%) translateX(0);
	transition-delay: 500ms;
}

.vision {
	filter: blur(0);
	opacity: 1;
	transform: translateY(0) translateX(0);
	transition-delay: 1s;
}

.aboutustext {
	transform: translateY(100%) translateX(0);
	transition-delay: 500ms;
}

.onscreen {
	opacity: 1;
	filter: blur(0);
	transform: translateX(0) translateY(0);
}

.vision.onscreen {
	opacity: 0.4;
	/*transform: translateY(0) translateX(0);*/
}

.vision-1.onscreen {
	opacity: 1;
}

.vision-1 {
	opacity: 0;
	transform: translateY(0) translateX(0);
	transition-delay: 1s;
}

.vision-2.onscreen {
	opacity: 1.5;
}

.vision-2 {
	opacity: 0;
	transform: translateY(0) translateX(0);
	transition-delay: 2.5s;
}

/*.well.onscreen {
	transform: translateX(0) translateY(0);
}*/

.forms {
	width: 50%;
  }
  
  .forms label {
	font-size: 1.2rem;
  }
  
  .input,
  textarea,
  .btn {
	width: 100%;
	padding: 0.5em;
	border: none;
	font-size: 1.2rem;
	color: black;
  }
  input[type="text"],
  input[type="email"],
  textarea {
	margin: 0 0 1em;
	border: 1px solid #ccc;
	outline: none;
  }
  
  textarea {
	height: 6em;
  }
  input[type="submit"],
  .btn {
	background: #4570f3;
	color: #fff;
	cursor: pointer;
  }
  input[type="submit"]:hover,
  .btn:hover {
	background: #6c63e8;
  }
  label {
	color: white;
  }
  
  .contact {
	display: flex;
	justify-content: center;
	padding-top: 10px;
  }
  

  .heading {
	/*margin-top: 50px;*/
	display: flex;
	/*font-family: "Montserrat", sans-serif;*/
	font-weight: 600;
	font-size: 36px;
	color: whitesmoke;
	text-decoration: none;
	justify-content: center;
  }
  